html {
    box-sizing: border-box;   
}

*, *:after, *:before {
    box-sizing: inherit;    
}

/** {
    box-sizing: border-box;
}*/


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background-color: #ff1b68;
    width: 100%;
    height: 528px;
    padding: 10px;
}

.section-title {
    color: #2ddf5c;
    font-family: inherit;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header {
    background-color: #2ddf5c;
    width: 100%;
    padding: 8px 16px;

}

.main-nav__item {
    display: inline-block;
}