html {
    box-sizing: border-box;   
}

*, *:after, *:before {
    box-sizing: inherit;    
}

/** {
    box-sizing: border-box;
}*/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-header {
    background-color: #2ddf5c;
    width: 100%;
    padding: 8px 16px;
}

.main-header > div {
    /*inline+top&bottom padding*/
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    /*works only if used font has bold version*/
    font-weight: bold;
    font-size: 20px;
}

.main-nav {
    display: inline-block;
    /*width 100%- .main-link(uHost)width in px*/
    width: calc(100% - 67px);
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    /*to positon to the right correctly*/
    margin: 0;
    padding: 0;
    /*removes the bullet points*/
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    /*top&bot zero, l&right 16px*/
    margin: 0 16px;
}

.main-nav__item a {
    color: #0e4f1f;
    text-decoration: none; 
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    /*to remove the link*/
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    /*cursor can be added to the any element, to indicate location*/
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}